.grid_ab {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 1fr;
  margin-right: 2em;
}

.p1_aboutus {
  border-radius: 15px; /* valgfrit, for afrundede kanter */
  border: 1px solid black;
  width: fit-content;
  padding: 10px 20px;
  background-color: #ffffff; /* black background */
  color: rgb(0, 0, 0); /* tekst color */
  font-weight: 400;
  margin-bottom: 1.5em;
  font-size: 16px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  display: block;
  margin-left: 3em;
  margin-top: 7em;
}

.h1_ab {
  margin-left: 1.2em;
  margin-top: 1.7em;
  font-size: 40px;
}

.josiah_img {
  grid-column: 2/3;
  grid-row: 1;
  width: 100%;
  margin-top: 7em;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
}

.p_grid1 {
  margin-left: 3.2em;
}

#link_yt {
  display: block;
  background-color: #000000; /* black background */
  color: white; /* tekst color */
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  padding: 10px 17px;
  margin-left: 3.5em;
  margin-top: 3em;
  font-size: 14px;
  width: 32%;
  font-size: 15px;
}

#link_yt:hover {
  background-color: rgba(
    215,
    190,
    133,
    1
  ); /* eksempel: lilla baggrund ved hover */
  color: #000000; /* evt. ændre tekstfarve, hvis du vil */
}

.h1_2 {
  margin-top: 4em;
  margin-left: 1em;
  font-size: 50px;
  font-weight: 500;
}

.p_2 {
  margin-left: 3em;
  font-size: 17px;
}

/* drop down boks pil */
summary {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Skubber pilen helt til højre */
  align-items: center;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "▼";
  font-size: 0.8rem;
}

details[open] summary::after {
  content: "▲";
}

/* drop down boks styling */

.dropdown {
  border: 1px solid black;
  padding: 1em 1em;
  border-radius: 15px;
  margin-top: 2em;
  margin-left: 3em;
  width: 60%;
  box-shadow: 0 1px 2px rgb(61, 61, 61);
}

.p_dropdown {
  line-height: 30px;
}

#dropdown_3 {
  font-size: 15px;
  margin-left: 3.3em;
}

@media (width>=850px) {
  .p1_aboutus {
    border-radius: 15px; /* valgfrit, for afrundede kanter */
    border: 1px solid black;
    width: fit-content;
    padding: 10px 20px;
    background-color: #ffffff; /* black background */
    color: rgb(0, 0, 0); /* tekst color */
    font-weight: 400;
    margin-bottom: 1.5em;
    font-size: 25px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
    display: block;
    margin-left: 4em;
    margin-top: 5em;
  }

  .h1_ab {
    margin-left: 2.8em;
    margin-bottom: 1em;
  }

  .josiah_img {
    grid-column: 2/3;
    grid-row: 1;
    width: 80%;
    margin-top: 7em;
    margin-right: 3em;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  }

  .p_grid1 {
    margin-left: 5.5em;
    font-size: 20px;
    line-height: 40px;
  }

  #link_yt {
    margin-left: 4em;
    font-size: 25px;
    margin-top: 1em;
  }

  .grid2_ab {
    margin-left: 4em;
    margin-bottom: 10em;
    margin-top: 17em;
  }

  /* footer */

  .streg_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .streg_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
  }

  .tekst_footer {
    font-size: 26px;
    font-weight: 350;
    margin-left: 2.8em;
  }
  .logo_footer {
    display: block; /* vigtigt for centering */
    margin: 0 auto; /* centrerer logo */
    width: 200px; /* sæt ønsket størrelse */
    height: 150px; /* beregnes automatisk */
    max-width: 100%; /* sikrer at det ikke overskrider container */
  }

  #book_a_call {
    background-color: #000000; /* black background */
    color: white; /* tekst color */
    border-radius: 30px; /* valgfrit, for afrundede kanter */
    padding: 5px 20px;
    margin-right: 1.5em;
    font-size: 20px;
  }

  .footer_menu {
    list-style: none; /* fjern bullets */
    display: flex; /* gør listen til flex container */
    justify-content: center; /* centrer items horisontalt */
    gap: 2em; /* afstand mellem menupunkterne */
    padding: 0; /* fjern indbygget padding */
    margin: 0; /* fjern margin */
    font-size: 20px;
    font-weight: 450;
  }
}
