.testimonials {
  border-radius: 20px; /* valgfrit, for afrundede kanter */
  width: fit-content;
  padding: 10px 30px;
  background-color: #ffffff; /* black background */
  color: rgb(0, 0, 0); /* tekst color */
  font-weight: 400;
  margin-bottom: 1.5em;
  font-size: 16px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
}

#client_case {
  text-align: center;
  margin-top: 1em;
}

/* youtube videos */
.clientcase-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.boks_1 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 1/2;
  margin-left: 1em;
}

.yt_tekst1 {
  font-weight: 800;
}

.yt_video1 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

.boks_2 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 2/3;
  margin-left: 1em;
}

.yt_tekst2 {
  font-weight: 800;
}

.yt_video2 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

.boks_3 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 1/2;
  margin-left: 1em;
}

.yt_tekst3 {
  font-weight: 800;
}

.yt_video3 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

.boks_4 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 2/3;
  margin-left: 1em;
}

.yt_tekst4 {
  font-weight: 800;
}

.yt_video4 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

.boks_5 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 1/2;
  margin-left: 1em;
}

.yt_tekst5 {
  font-weight: 800;
}

.yt_video5 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

.boks_6 {
  width: 80%;
  max-width: 600px; /* vælg selv */
  padding: 1.5em;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px 20px;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  margin-top: 4em;
  margin-bottom: 4em;
  grid-column: 2/3;
  margin-left: 1em;
}

.yt_tekst6 {
  font-weight: 800;
}

.yt_video6 {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}

/* client case section 2 */

.client_h1_2 {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-bottom: 4em;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 30px;
  background-color: #ffffff;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
}

.clientcase_grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 5em;
}

.review1 {
  grid-column: 1/2;
  width: 90%;
  margin-left: 1em;
}

.review2 {
  grid-column: 2/3;
  width: 90%;
  margin-left: 1em;
}

.review3 {
  grid-column: 1/2;
  width: 90%;
  margin-left: 1em;
  margin-top: 3em;
}

.review4 {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 90%;
  margin-left: 1em;
  margin-top: 3em;
}

.review5 {
  grid-column: 1/2;
  width: 90%;
  margin-left: 1em;
  margin-top: 4em;
}

.review6 {
  grid-column: 2/3;
  width: 90%;
  margin-left: 1em;
  margin-top: 1em;
}

.review7 {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 90%;
  margin-left: 1em;
  margin-top: 2em;
}

/* footer */

.streg_1 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-bottom: 1em;
}

.tekst_footer {
  margin-left: 3em;
  margin-bottom: 2em;
  width: 50%;
  line-height: 40px;
  font-size: 0.7em;
}

.footer_content {
  display: flex;
}

.logo_footer {
  margin-left: 3em;
  height: 2%;
}

.streg_2 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
  margin-top: 3em;
}

.footer_menu {
  display: flex;
  white-space: nowrap;
  gap: 25px;
}
@media (max-width: 768px) {
  .footer_menu {
    flex-wrap: wrap; /* må bryde linjen */
  }
}

#book_a_call {
  background-color: #000000; /* black background */
  color: white; /* tekst color */
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  padding: 5px 20px;
  margin-right: 1.5em;
  font-size: 14px;
}

#book_a_call:hover {
  background-color: rgba(
    215,
    190,
    133,
    1
  ); /* eksempel: lilla baggrund ved hover */
  color: #000000; /* evt. ændre tekstfarve, hvis du vil */
}

@media (width>=850px) {
  .testimonials {
    font-size: 25px;
    padding: 12px 40px;
    border-radius: 20px;
  }

  #client_case {
    font-size: 45px;
  }

  .client_h1_2 {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 450;
    margin-bottom: 4em;
    width: fit-content;
    border-radius: 20px;
    padding: 12px 40px;
    background-color: #ffffff;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  }

  /* footer */

  .streg_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .streg_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
  }

  .tekst_footer {
    font-size: 26px;
    font-weight: 350;
    margin-left: 2.8em;
  }
  .logo_footer {
    display: block; /* vigtigt for centering */
    margin: 0 auto; /* centrerer logo */
    width: 200px; /* sæt ønsket størrelse */
    height: 150px; /* beregnes automatisk */
    max-width: 100%; /* sikrer at det ikke overskrider container */
  }

  #book_a_call {
    background-color: #000000; /* black background */
    color: white; /* tekst color */
    border-radius: 30px; /* valgfrit, for afrundede kanter */
    padding: 5px 20px;
    margin-right: 1.5em;
    font-size: 20px;
  }

  .footer_menu {
    list-style: none; /* fjern bullets */
    display: flex; /* gør listen til flex container */
    justify-content: center; /* centrer items horisontalt */
    gap: 2em; /* afstand mellem menupunkterne */
    padding: 0; /* fjern indbygget padding */
    margin: 0; /* fjern margin */
    font-size: 20px;
    font-weight: 450;
  }
}
