body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Satoshi-Regular', 'Satoshi Placeholder', sans-serif;
  font-weight: 400;
  color: black;
}

a {
  color: inherit; /* arver farven fra omkringliggende tekst */
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 1em;
  margin-left: 0;
}

/* nav mobil */

.nav_points {
  display: flex;
  justify-content: space-between; /* logo til venstre, menu/burger til højre */
  align-items: center; /* vigtig: vertikalt centreret på samme linje */
  background-color: #fff;
  flex-wrap: nowrap; /* sikrer, at børn ikke rykkes ned */
  width: 100%;
  border-bottom-width: 3px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #ffcc00;
  border-style: solid;
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 94px;
  margin-top: 1em;
  margin-left: 0;
  width: 100%;
  height: 30vh;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
}

button:hover {
  transform: scale(1.03);
}

.burger {
  display: flex; /* Flex for at stable linjerne */
  flex-direction: column; /* lodret stabling */
  gap: 5px; /* mellemrum mellem linjerne */
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}

.burger .line {
  display: block;
  width: 25px; /* bredde på linjerne */
  height: 3px; /* tykkelse */
  background-color: #000; /* sort farve */
  border-radius: 2px; /* valgfrit, bløde kanter */
}

.menu {
  display: none;
  list-style: none;
}

.logo_white_index {
  width: 20%;
  margin-left: 2em;
  margin-top: 1em;
}

.logo_button {
  display: flex;
  justify-content: flex-end; /* aligns content to the right */
  align-items: center;       /* vertical center */
  width: 40%;               /* make it span the container */
  text-decoration: none;     /* optional, remove underline */
}

/* client */

.client {
  border-style: solid;
  padding: 50px 50px;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px; 
  margin-bottom: 50px;
  border-radius: 10px;
  border-color: #ffcc00;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url("../img/header-bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.client h3 {
  margin: 0;
}

.calendly-inline-widget {
  margin-bottom: 12em;
}

/* footer */

footer {
  margin-top: 6em;
  margin-bottom: 4em;
}

.streg_1 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-bottom: 1em;
}

.tekst_footer {
  margin-left: 2em;
  width: 50%;
  line-height: 40px;

  font-size: 0.92em;
}

.footer_content {
  display: flex;
}

.logo_footer {
  margin-left: 8em;
  margin-top: 1em;
  height: auto;
}

@media (max-width: 850px) {
  .logo_footer {
    width: 90px;
  }
}

.streg_2 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.footer_menu {
  display: flex;
  gap: 25px;
}

#book_a_call {
  background-color: #fff; /* black background */
  color: white; /* tekst color */
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  padding: 5px 20px;
  margin-right: 1.5em;
  font-size: 14px;
}

#book_a_call:hover {
  background-color: rgba(
    215,
    190,
    133,
    1
  ); /* eksempel: lilla baggrund ved hover */
  color: #000000; /* evt. ændre tekstfarve, hvis du vil */
}

#book_a_call2 {
  background-color: #000000; /* black background */
  color: white; /* tekst color */
  border-radius: 15px; /* valgfrit, for afrundede kanter */
  padding: 5px 20px;
  margin-right: 1.5em;
  font-size: 14px;
  border-width: 2.5px;
  border-color: #ffcc00;
  border-style: solid;
}

#book_a_call2:hover {
  background-color: rgba(
    215,
    190,
    133,
    1
  ); /* eksempel: lilla baggrund ved hover */
  color: #000000; /* evt. ændre tekstfarve, hvis du vil */
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;              /* space between divs */
}

.box {
  margin: 50px;
  width: 50%;
  height: 100%;
  border-width: 2.5px;
  border-color: #ffcc00;
  border-style: solid;
  border-radius: 15px; /* valgfrit, for afrundede kanter */
  padding-left: 20px;
}

.box h2 {
  margin: 0; /* remove default margins */
  text-align: left;
}

.lazy {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.lazy-loaded {
  opacity: 1;
  transform: translateY(0);
}

  /* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

/* Modal box */
.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Close button */
#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

/* Iframe */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 2nd modal */

/* Modal background */
.modal2 {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

/* Modal box */
.modal-content2 {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Close button */
#closeModal2 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

/* Iframe */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 3rd modal */

/* Modal background */
.modal3 {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

/* Modal box */
.modal-content3 {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Close button */
#closeModal3 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

/* Iframe */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (width>=850px) {
  .menu {
    display: flex;
    width: 70%;
    gap: 80px;
  }

  .logo_button {
    display: flex;
    justify-content: flex-end; /* aligns content to the right */
    align-items: center;       /* vertical center */
    width: 40%;               /* make it span the container */
    text-decoration: none;     /* optional, remove underline */
  }

  .nav_points {
    display: flex; /* Flex container */
    justify-content: space-between; /* logo til venstre, menu + burger til højre */
    align-items: center; /* vertikal centering */
    background-color: #fff; /* valgfri baggrund */
    font-size: 1.2em;
    margin-right: 2em;
    width: 100%;
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #ffcc00;
    border-style: solid;
  }

  /* hover effekt på nav */

  .menu li #book_a_call {
    background-color: #000000; /* black background */
    color: white; /* tekst color */
    border-radius: 30px; /* valgfrit, for afrundede kanter */
    padding: 10px 20px;
    font-size: 18px;
  }
  .menu li #book_a_call:hover {
    background-color: rgba(
      215,
      190,
      133,
      1
    ); /* eksempel: lilla baggrund ved hover */
    color: #000000; /* evt. ændre tekstfarve, hvis du vil */
  }
  .menu li #book_a_call2 {
    background-color: #000000; /* black background */
    color: white; /* tekst color */
    border-radius: 15px; /* valgfrit, for afrundede kanter */
    padding: 10px 20px;
    font-size: 18px;
    border-width: 2.5px;
    border-color: #ffcc00;
    border-style: solid;
  }
  .menu li #book_a_call2:hover {
    background-color: rgba(
      215,
      190,
      133,
      1
    ); /* eksempel: lilla baggrund ved hover */
    color: #000000; /* evt. ændre tekstfarve, hvis du vil */
    cursor: pointer;
  }
  .menu li :hover {
    color: rgba(215, 190, 133, 1);
  }

  /* navigtion */

  .logo_white_index {
    width: 25%;
    margin-left: 2em;
    margin-top: 1em;
  }

  /* font */
  .roboto-medium {
    font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Medium */
    font-style: normal;
    font-variation-settings: "wdth" 100; /* standard bredde */
  }

  .burger {
    display: none;
  }

  /* footer */

  .streg_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .streg_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
  }

  .tekst_footer {
    font-size: 26px;
    font-weight: 350;
    margin-left: 2.8em;
  }
  .logo_footer {
    display: block; /* vigtigt for centering */
    margin: 0 auto; /* centrerer logo */
    width: 200px; /* sæt ønsket størrelse */
    height: 150px; /* beregnes automatisk */
    max-width: 100%; /* sikrer at det ikke overskrider container */
  }

  .footer_menu {
    list-style: none; /* fjern bullets */
    display: flex; /* gør listen til flex container */
    justify-content: center; /* centrer items horisontalt */
    gap: 2em; /* afstand mellem menupunkterne */
    padding: 0; /* fjern indbygget padding */
    margin: 0; /* fjern margin */
    font-size: 20px;
    font-weight: 450;
  }

    /* Modal background */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  /* Modal box */
  .modal-content {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Close button */
  #closeModal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
  }

  /* Iframe */
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  /* 2nd modal */

  /* Modal background */
  .modal2 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  /* Modal box */
  .modal-content2 {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Close button */
  #closeModal2 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
  }

  /* Iframe */
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  /* 3rd modal */

  /* Modal background */
  .modal3 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  /* Modal box */
  .modal-content3 {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Close button */
  #closeModal3 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
  }

  /* Iframe */
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
