.forside_grid1 {
  display: flex;
  margin-left: 2em;
  margin-top: 4em;
}

.quote_1 {
  border-radius: 15px; /* valgfrit, for afrundede kanter */
  width: fit-content;
  padding: 10px 20px;
  background-color: #ffffff; /* black background */
  color: rgb(0, 0, 0); /* tekst color */
  font-weight: 800;
  margin-bottom: 1.5em;
  margin-left: 0;
  font-size: 16px;
  filter: drop-shadow(4px 4px 6px rgb(144, 139, 139));
}

#quote1_id {
  margin-bottom: 2.5em;
  margin-left: -1em;
}

.top_part_content {
  margin-left: 3em;
}

.josiah_img {
  width: 30%;
  margin-right: 2em;
  margin-left: 8em;
  border-radius: 5px;
}

.quote_2 {
  font-size: 14px;
  color: rgb(143, 110, 33);
}

h1 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
}

/* buttons frontpage */
#book_a_call {
  background-color: #000000; /* black background */
  color: white; /* tekst color */
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  padding: 5px 20px;
  margin-right: 1.5em;
  font-size: 14px;
}

#book_a_call:hover {
  background-color: rgba(
    215,
    190,
    133,
    1
  ); /* eksempel: lilla baggrund ved hover */
  color: #000000; /* evt. ændre tekstfarve, hvis du vil */
}

#client_result {
  background-color: #ffffff; /* black background */
  color: rgb(0, 0, 0); /* tekst color */
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  border: 1px solid black;
  padding: 5px 20px;
  font-size: 14px;
}

#client_result:hover {
  background-color: rgba(215, 190, 133, 1);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.forside_btn {
  margin-top: 2em;
}

/* forside del 2 */

h2 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-top: 8em;
}

.quote_3 {
  font-size: 15px;
  margin-top: 3em;
  text-align: center;
}

/* forside del 3 */

.yt_video {
  margin-top: 6em;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.video_wrapper {
  position: relative;
  width: 70%;
  max-width: 800px; /* maks bredde på desktop */
  margin: 0 auto; /* centrerer videoen */
  border: 1px solid black;
  margin-top: 5em;
}

/* forside del 4 */

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7em;
  text-align: center;
}

.logoer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em; /* luft mellem logoerne */
  width: 80%;
  margin: 0em auto 6em;
}

.logo_partner {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*forside del 5 */

.calendly {
  margin-top: 2em;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 6em;
}

/*forside del 6 */

h4 {
  text-align: center;
}

.svg_pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 7em; /* luft mellem logoerne */
  width: 40%;
  margin: 3em auto 1em;
  margin-bottom: 8em;
}

.svg {
  width: 80px; /* vælg den størrelse du vil have */
  height: 80px;
  object-fit: contain; /* hele ikonet vises uden at blive beskåret */
  display: block;
  margin: 0 auto;
}

.svg_pictures > div {
  width: 160px; /* samme bredde for alle */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aftaler {
  font-size: 20px;
  font-weight: 600;
}

.salg {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 70px;
}

.founder {
  font-size: 20px;
  font-weight: 600;
}

.svg_tekst {
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  width: 70%;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5em;
  margin-top: -9em;
}

.svg_tekst_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 3em;
  margin-right: 0em;
  gap: 2em;
}

#aftaler {
  margin-right: 2em;
  margin-left: 1em;
  white-space: nowrap;
  margin-top: 2em;
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  border: 1px solid black;
  padding: 10px 40px;
  background-color: #000000; /* black background */
  color: rgb(255, 255, 255); /* tekst color */
}

.salg {
  white-space: nowrap;
  margin-right: 0.2em;
  margin-top: 2em;
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  border: 1px solid black;
  padding: 10px 70px;
  background-color: #000000; /* black background */
  color: rgb(255, 255, 255); /* tekst color */
}

.founder {
  white-space: nowrap;
  margin-top: 2em;
  border-radius: 30px; /* valgfrit, for afrundede kanter */
  border: 1px solid black;
  padding: 10px 20px;
  background-color: #000000; /* black background */
  color: rgb(255, 255, 255); /* tekst color */
}

.overskrift_med_border {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em; /* luft mellem logoerne */
  margin: 0 auto 6em;
  margin-left: 2.5em;
}

.svg_tekst {
  text-align: center;
  font-size: 12px;
}

/* footer */

.streg_1 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-bottom: 1em;
}

.tekst_footer {
  margin-left: 2em;
  width: 50%;
  line-height: 40px;
  display: flex;
  font-size: 0.92em;
}

.footer_content {
  display: flex;
  height: 100px;
}

.logo_footer {
  margin-left: 8em;
}

.streg_2 {
  height: 1px; /* tykkelse */
  width: 90%; /* halvvejs ind på skærmen */
  background-color: black;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.footer_menu {
  display: flex;
  gap: 25px;
  margin-left: 10em;
}

@media (width>=850px) {
  #quote1_id {
    font-size: 20px;
    padding: 1em;
    border-radius: 20px;
    display: inline-block; /* VIGTIG */
  }
  .top_part_content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
  }

  .josiah_img {
    display: none;
  }

  h1 {
    font-size: 45px;
    line-height: 70px;
  }

  .quote_2 {
    font-size: 20px;
    margin-bottom: 2.5em;
  }

  #client_result {
    font-size: 20px;
    padding: 0.3em 1em;
  }

  #book_a_call {
    font-size: 20px;
    padding: 0.3em 1em;
  }

  /* forside del 2 */

  h2 {
    font-size: 50px;
    margin-top: 5em;
  }

  .quote_3 {
    font-size: 20px;
    margin-top: 3em;
    text-align: center;
    margin-bottom: 10em;
  }

  .video_wrapper {
    position: relative;
    width: 100%;
    max-width: 800px; /* maks bredde på desktop */
    margin: 0 auto; /* centrerer videoen */
    border: 1px solid black;
  }
  /* forside del 4 */

  h3 {
    font-size: 25px;
    font-weight: 450;
    margin-top: 10em;
    margin-bottom: 2em;
    text-align: center;
  }
  /* forside del 5 */

  /* forside del 6 */
  h4 {
    font-size: 40px;
    margin-bottom: 2.5em;
  }

  .svg {
    width: 110px; /* vælg den størrelse du vil have */
    height: 110px;
    object-fit: contain; /* hele ikonet vises uden at blive beskåret */
    display: block;
    margin: 0px auto;
  }

  .svg_pictures {
    gap: 200px; /* Juster tallet for mere/mindre afstand */
    margin-bottom: 1em;
  }

  #aftaler {
    font-size: 20px;
    font-weight: 600;
  }

  .salg {
    font-size: 20px;
    font-weight: 600;
    padding: 0.5em 70px;
  }

  .founder {
    font-size: 20px;
    font-weight: 600;
  }

  .svg_tekst {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 70%;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10em;
    margin-top: 2em;
  }

  .svg_tekst_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 13em;
    margin-right: 7em;
  }

  /* footer */

  .streg_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .streg_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
  }

  .tekst_footer {
    font-size: 26px;
    font-weight: 350;
    margin-left: 2.8em;
  }
  .logo_footer {
    display: block; /* vigtigt for centering */
    margin: 0 auto; /* centrerer logo */
    width: 200px; /* sæt ønsket størrelse */
    height: 150px; /* beregnes automatisk */
    max-width: 100%; /* sikrer at det ikke overskrider container */
  }

  .footer_menu {
    list-style: none; /* fjern bullets */
    display: flex; /* gør listen til flex container */
    justify-content: center; /* centrer items horisontalt */
    gap: 2em; /* afstand mellem menupunkterne */
    padding: 0; /* fjern indbygget padding */
    margin: 0; /* fjern margin */
    font-size: 20px;
    font-weight: 450;
  }
}
